.App {
  align-items: center;
  background-color: #282c34;
  color: white;
  display: flex;
  flex-direction: column;
  font-size: calc(10px + 2vmin);
  justify-content: center;
  min-height: 100vh;
  text-align: center;
}

.App .container-fluid,
.App .container-fluid .row {
  height: 100%;
  min-height: 100vh;
}

.h-100vh {
  height: 100%;
  min-height: 100vh;
}

.h-60vh {
  height: 100%;
  min-height: 60vh;
}

[contenteditable="true"] {
  max-height: 60vh;
  overflow-y: scroll;
}

.prewrap {
  white-space: pre-wrap;
}
